<h1>Successfully added you to queue</h1>

<table>
  <tr>
    <td style="padding: 10px;">
      <b>Queue name:</b>
    </td>
    <td>
      {{ name }}
    </td>
  </tr>
  <tr>
    <td style="padding: 10px;">
      <b>In queue before you:</b>
    </td>
    <td>
      {{ size }}
    </td>
  </tr>
  <tr>
    <td style="padding: 10px;">
      <b>Your ID:</b>
    </td>
    <td>
      {{ id }}
    </td>
  </tr>
</table>

<p style="padding: 10px;">
  <a href="/client">Go back to queues</a>
</p>
