<h1>Login</h1>

<p>
  Enter agent ID:
</p>

<form method="post" action="agent/login">
  <table>
    <tr>
      <td><b><label for="agent-id">Agent ID:</label></b></td>
      <td>
        <input id="agent-id" type="text" name="id" required>
      </td>
    </tr>
  </table>

  <button type="submit">Log in</button>
</form>
